@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #e5e2e1;
}

.my_bg {
    background-image: linear-gradient(to right, #6CC6B0 0%, #04A6CD 50%, #365BA9 100%);
}
/* input:focus{
    outline: double;
    outline-color: #365BA9 100%;
} */